<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UsuarioCreado</title>
</head>
<body>

<style>
    article div {
        display: flex;
    }
    article div p {
        margin: 1%;
    }
</style>

<h2>USUARIO CREADO CORRECTAMENTE</h2>
<article>
    <div>
        <p>DNI: </p>
        <p> <%= dniUsuarioReg %> </p>
    </div>
    <div>
        <p>Nombre: </p>
        <p> <%= nombreUsuarioReg %> </p>
    </div>
    <div>
        <p>Apellidos: </p>
        <p> <%= apellidosUsuarioReg %> </p>
    </div>
    <div>
        <p>Contraseña: </p>
        <p> <%= passUsuarioReg %></p>
    </div>
    <div>
        <p>Email: </p>
        <p> <%= emailUsuarioReg %></p>
    </div>
    <div>
        <p>Telefono: </p>
        <p> <%= telefonoUsuarioReg %> </p>
    </div>

    <a href="/">Volver al formulario</a>
</article>
    
</body>
</html>